.intro {
  margin: 100px auto 20px;
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 100%;
  flex-wrap: wrap;
  gap: 1rem;
}
.intro-article {
  position: relative;
}
.intro-article > .intro-container img {
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
.intro-content {
  z-index: 100;
  position: absolute;
  left: 20px;
}
