.products {
  text-align: center;

}
.products-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.products-categories {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.products-nav button {
    border: none;
    background: white;
}
.products-nav button:hover {
  color: goldenrod;
}
.products-nav button:active {
  color: goldenrod;
}
.menuItem {
    /* display: grid; */
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
    align-items: center;
    /* grid-template-columns: repeat(auto-fit, minmax(280px,1fr)); */
    margin-left: 360px;
    grid-gap: 20px;
    position: relative;
}
/* .product-container{
    position: relative; */
/* } */
.menuItem > article {
    grid-gap: 0px;
}
/* .item-info{
    z-index: 100;
    position: absolute;
} */
.menuItem > img{
  max-width: 1500px;
}