/* .products {
  text-align: center;
}
.products-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.products-categories {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.products-nav h1 {
  font-size: 33px;

}
.products-nav button {
  border: none;
  background: white;
  font-size: 19px;
  font-weight: normal;
}
.products-nav button:hover {
  color: goldenrod;
}
.products-nav button:active {
  color: goldenrod;
}

.products-categories button:active {
  color: goldenrod;
}
.menuItem {
  display: flex;
  flex-wrap: wrap;
  width: 1500px;
  align-items: center;
  margin-left: 200px;
  grid-gap: 20px;
  position: relative;
}

.menuItem > article {
  grid-gap: 0px;
}

.menuItem > img {
  max-width: 1500px;
} */
.products {
  width: 80%;
  margin: 50px;
}
.products-container {
  display: block;
}
.products-nav {
  padding: 20px;
}
.products-nav h1 {
  padding-top: 12px;
  text-align: center;
  font-size: 23px;
}
.products-categories {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.products-categories button{
  border: none;
  background-color: #fff;
}
.products-nav button:hover {
  color: goldenrod;
  transition: all 0.3 ease-out;
}
.products-nav button:active {
  color: goldenrod;
}
.products-categories button:active {
  color: goldenrod;
}
@media (min-width:575px){
  .menuItem{
    margin-left: 8%;
  }
}
@media (min-width: 769px){
  .products-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .products-categories {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .products-nav h1 {
    font-size: 30px;
    margin-left: 20px;
  }
  .products-nav button {
    font-size: 16px;
    font-weight: normal;
  }
  .menuItem {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    grid-gap: 20px;
    margin-left: 8%;
    position: relative;
  }
}
@media (min-width:890px){
  .menuItem{
    margin-left: 8%;
  }
  .products-nav h1 {
    font-size: 33px;
  
  }
  .products-nav button {
    font-size: 19px;
    font-weight: normal;
  }
}
@media(min-width:1600px){
  .menuItem{
    margin-left: 8%;
  }
  .products-nav h1 {
    font-size: 33px;
  
  }
  .products-nav button {
    font-size: 19px;
    font-weight: normal;
  }
}