.explore-container{
    width: 100% ;}
 
 .explore {
   display: block;
   align-items: center;
   text-align: center;
   margin-left: -10%;
 }
 
 .explore h1 {
   font-size: 22px;
 }
 
 .explore a {
   text-decoration: none;
   color: black;
   font-size: 23px;
 }
 .blog {
   margin-left: 10%;
   margin-top: 30px;
 }
 .blog p{
     margin: 20px;
 }
 @media (max-width:749px){
    .explore p {
        display: none;
      }
 }
 @media (min-width: 750px){
    .explore{
     margin-left: -40%;
    }
 }
 @media (min-width:1024px){
  .explore{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin:-10px;
}
.explore h1 {
    font-size: 33px;
}
.explore a {
    text-decoration: none;
    color: black;
    font-size: 23px;
}
.blog{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 95%;
    margin-left: 170px;
}
.blog img {
transform: scale(.95);
}
 } 
 @media (min-width:1200px){
    .blog{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        width: 100%;
        margin-left: 170px;
    }
    .blog img {
    transform: scale(1);
    }
 }